.logo2 {
  width: 16px;
  height: 16px;
}
.image-wrapper{
  max-width: 472px;
}
.image1 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.content1 {
  display: flex;
  flex-direction: row;
  background-color: #f7f1ff;
  border-radius: 20px;
  padding: 8px 16px;
  font-weight: 500;
  line-height: 24px;
  gap: 12px;
  align-items: center;
  width: fit-content;
  color: #722ed1;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.button1 {
  border: none;
  background-color: #722ed1;
  border-radius: 23px;
  padding: 12px 24px;
  color: white;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  cursor: pointer;
}
.button2 {
  border: none;
  background-color: white;
  border-radius: 23px;
  padding: 12px 24px;
  color: #722ed1;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  cursor: pointer;
}

.header-text {
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  margin: 24px 0px;
  color: black;
}

.normal-text {
  font-weight: 500;
  line-height: 24px;
  opacity: 0.5;
  margin-bottom: 24px;
  color: #000;
}

@media only screen and (max-width: 1024px){
  .content-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
